@using TinyTimeline.Models
@model SessionModel

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="margin_top margin_left">
    @Html.Partial("Menu", new MenuModel {SessionId = Model.SessionInfo.SessionId})
    @Html.DisplayFor(m => m.SessionInfo)
    
    @foreach (var e in Model.Events)
    {
        <div class="vote_item event bordered_fill" id="@e.Id">

            <div>
                <label>Date: </label>
                @Html.DisplayFor(m => e.Date)
                <label>+(@e.Positive) / -(@e.Negative)</label>
            </div>

            <div>
                <div style="padding-bottom: 25px">
                    <label>Content: </label>
                    <div class="multiline">@Html.DisplayFor(m => e.Text)</div>
                </div>


                <div class="float_right" style="margin-top: -25px; margin-right: -5px">
                    <button class="btn btn-primary btn-sm" onclick="toBeDiscussed('@e.Id', '@Model.SessionInfo.SessionId')">Want to discuss</button>
                    <button class="btn btn-primary btn-sm" onclick="skip('@e.Id')">Skip</button>
                </div>
            </div>
        </div>
    }

    <div hidden id="voteEnd">
        Done! @Html.ActionLink("Watch timeline!", "Session", "Presentation", new {sessionId = Model.SessionInfo.SessionId})
    </div>
</div>