@model TinyTimeline.Models.ReviewModel

<div class="event margin_bottom bordered_fill" id="@Model.Id">
    <div style="padding-bottom: 25px">
        <div>
            <label>Rating:</label>
            @Model.Rating
        </div>
        <div>
            <label>Content:</label>
            <div>
                @Model.Content
            </div>
        </div>
    </div>
    @if (Model.AllowModify)
    {
        <div class="float_right" style="margin-top: -20px">
            <a class="btn btn-danger btn-xs" style="cursor: pointer" onclick="deleteReview('@Model.Id', '@Model.SessionId')">Delete</a>
        </div>
    }
</div>