@model TinyTimeline.Models.TimelineEventModel

<div class="event margin_bottom bordered_fill" id="@Model.Id">
    <label>@Html.DisplayFor(m => m.Date):</label>
    <label>+(@Model.Positive) / -(@Model.Negative)</label>
    @if (Model.ToBeDiscussed > 0)
    {
        <div>
            <label>Want to discuss: @Model.ToBeDiscussed</label>
        </div>
    }
    <div>
        <div style="padding-bottom: 25px">
            <div class="multiline">@Model.Text </div>
            @if (Model.ToBeDiscussed > 0 && Model.AllowModify)
            {
                <div class="margin_top">
                    <textarea data-autoresize class="discussion_area" rows="3"  id=@($"conclusion{Model.Id}")  name="Text" type="text" value="" placeholder="Write your conclusion for event">@Model.Conclusion</textarea>
                </div>
            }
            else if (!string.IsNullOrEmpty(Model.Conclusion))
            {
                <div class="margin_top">
                    <label>Conclusion</label>

                    <div >
                        <div class="discussion_area multiline" id=@($"conclusion{Model.Id}")>@Model.Conclusion</div>
                    </div>
                </div>
            }
        </div>

        @if (Model.AllowModify)
        {
            if (Model.ToBeDiscussed > 0)
            {
                <div class="float_right" style="margin-top: -20px">
                    <a class="btn btn-info btn-xs" style="cursor: pointer" onclick="saveConclusion('@Model.Id', '@Model.SessionId')">Save</a>
                    <a class="btn btn-danger btn-xs" style="cursor: pointer" onclick="deleteEvent('@Model.Id', '@Model.SessionId')">Delete event</a>
                </div>
            }
            else
            {
                <div class="float_right" style="margin-top: -20px">
                    <a class="btn btn-danger btn-xs" style="cursor: pointer" onclick="deleteEvent('@Model.Id', '@Model.SessionId')">Delete event</a>
                </div>
            }
        }

    </div>
</div>