@model TinyTimeline.Models.PresentationModel

@if (Model.Events.Any())
{

foreach (var e in Model.Events)
 {
     <div>
         @Html.DisplayFor(m => e.Date):
         @e.Text
         +(@e.Positive) /
         -(@e.Negative)
     </div>
 }

    <br/>
    <div>
        @Html.ActionLink("Positive", "PositiveEvents")
        @Html.ActionLink("Negative", "NegativeEvents")
        @Html.ActionLink("Debatable", "DebatableEvents")
    </div>
}
else
{
    <div>
        <label>@Html.ActionLink("Add some events", "AddEvent", "Interaction", new {}, new { target = "_blank" }) to see the magic.</label>
    </div>
}