@model TinyTimeline.Models.SessionsModel

@{
    Layout = "Layout";
}

<div class="margin_top">
    @if (Model.Sessions.Any())
    {
        <label>All sessions created so far</label>
        foreach (var session in Model.Sessions)
        {
            <div class="margin_bottom bordered_fill session" id="@session.SessionInfo.SessionId">
                @Html.ActionLink($"{session.SessionInfo.SessionName}", "Session", "Presentation", new {sessionId = session.SessionInfo.SessionId}) at @Html.DisplayFor(m => session.SessionInfo.SessionCreateDate)

                @if (Model.AllowModify)
                {
                    <button class="btn btn-danger btn-xs float_right negative_margin_top" onclick="deleteSession('@session.SessionInfo.SessionId')">Delete</button>
                }
            </div>
        }
    }
    else
    {
        <div>
            <label>Oops! No sessions. @(Model.AllowModify ? "Create one!" : "")</label>
        </div>
    }
    
    @if (Model.AllowModify)
    {
        @Html.ActionLink("Create session", "AddSession", "Interaction", new {}, new {@class = "btn btn-primary btn-sm"})
    }
    @Html.ActionLink("Reload AuthToken", "SetToken", "Tokens", new {}, new {@class = "btn btn-primary btn-sm"})
</div>