@using TinyTimeline.Models
@model SessionModel

@{
    Layout = "Layout";
}

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" asp-append-version="true"></script>

<div class="margin_top">
    @Html.Partial("Menu", new MenuModel {SessionId = Model.SessionInfo.SessionId})
    @Html.DisplayFor(m => m.SessionInfo)
    
    <div class="margin_bottom">
        <label>@Html.DisplayFor(z => z.EventFilterType) events</label>
    </div>
        @foreach (var e in Model.Events)
        {
            @Html.DisplayFor(m => e)
        }
        <div>
            @Html.Partial("TimelineEventFilters", Model.SessionInfo.SessionId)
            @Html.ActionLink("Add event", "AddEvent", "Interaction", new {sessionId = Model.SessionInfo.SessionId}, new {@class = "btn btn-primary btn-sm margin_bottom"})
            @Html.ActionLink("Vote", "Voting", "Interaction", new {sessionId = Model.SessionInfo.SessionId}, new {@class = "btn btn-primary btn-sm margin_bottom"})
            @Html.ActionLink("Pick to discuss", "PickToBeDiscussed", "Interaction", new {sessionId = Model.SessionInfo.SessionId}, new {@class = "btn btn-primary btn-sm margin_bottom"})
            @Html.ActionLink("Reviews", "Reviews", "Presentation", new {sessionId = Model.SessionInfo.SessionId}, new {@class = "btn btn-primary btn-sm margin_bottom"})
        </div>
</div>