@model TinyTimeline.Models.SessionsModel

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

<div class="margin_left margin_top">
    @if (Model.Sessions.Any())
    {
        <label>All sessions created so far</label>
        foreach (var session in Model.Sessions)
        {
            <div class="margin_bottom bordered_fill session">
                @Html.ActionLink($"{session.SessionInfo.SessionName}", "Session", "Presentation", new {sessionId = session.SessionInfo.SessionId}) at @Html.DisplayFor(m => session.SessionInfo.SessionCreateDate)

                @if (Model.AllowModify)
                {
                    @Html.ActionLink("Delete", "DeleteSession", "Interaction", new {sessionId = session.SessionInfo.SessionId}, new {@class = "btn btn-danger btn-xs float_right negative_margin_top"})
                }
            </div>
        }
    }
    else
    {
        <div>
            <label>Oops! No sessions. Create one!</label>
        </div>
    }
    
    @if (Model.AllowModify)
    {
        @Html.ActionLink("Create session", "AddSession", "Interaction", new {}, new {@class = "btn btn-primary btn-sm"})
    }
    @Html.ActionLink("Reload AuthToken", "SetToken", "Tokens", new {}, new {@class = "btn btn-primary btn-sm"})
</div>