@using TinyTimeline.Models
@model SessionModel
<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

<div class="margin_left margin_top">
    @Html.Partial("Menu", new MenuModel {SessionId = Model.SessionId})

    <div class="margin_bottom bordered_fill width">
        Session: @Model.Name,
        created at @Html.DisplayFor(m => m.CreateDate)
    </div>

    @if (Model.Events.Any())
    {
        foreach (var e in Model.Events)
        {
            @Html.DisplayFor(m => e)
        }
        <div>
            <div class="margin_bottom">
                @Html.ActionLink("Positive", "FilteredSession", new {sessionId = Model.SessionId, filterType = EventFilterType.Positive},new {@class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Negative", "FilteredSession", new {sessionId = Model.SessionId, filterType = EventFilterType.Negative},new {@class = "btn btn-primary btn-sm"})
                @Html.ActionLink("Debatable", "FilteredSession", new {sessionId = Model.SessionId, filterType = EventFilterType.Debatable},new {@class = "btn btn-primary btn-sm"})
            </div>

            @Html.ActionLink("Add some events", "AddEvent", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})
            @if (Model.Events.Any())
            {
                @Html.ActionLink("Vote", "Voting", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})
            }
        </div>
    }
    else
    {
        <div>
            <label>@Html.ActionLink("Add some events", "AddEvent", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})</label>
        </div>
    }
</div>