@using TinyTimeline.Models
@model SessionModel
<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

<div class="margin_left margin_top">
    @Html.Partial("Menu", new MenuModel {SessionId = Model.SessionId})

    <div class="margin_bottom bordered_fill width">
        Session: @Model.Name,
        created at @Html.DisplayFor(m => m.CreateDate)
    </div>
    
    <div class="margin_bottom">
        <label>@Html.DisplayFor(z => z.EventFilterType) events</label>
    </div>

    @if (Model.Events.Any())
    {
        foreach (var e in Model.Events)
        {
            @Html.DisplayFor(m => e)
        }
        <div>
            @Html.Partial("TimelineEventFilters", Model.SessionId)
            @Html.ActionLink("Add event", "AddEvent", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Vote", "Voting", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})
        </div>
    }
    else
    {
        @Html.Partial("TimelineEventFilters", Model.SessionId)
        <div>
            <label>@Html.ActionLink("Add event", "AddEvent", "Interaction", new {sessionId = Model.SessionId}, new {@class = "btn btn-primary btn-sm"})</label>
        </div>
    }
</div>